
.top-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--fixed-white);
    width: 100%;
    border-bottom: 1px solid var(--color-grey-500);
}
.top {
    margin: 0 auto;
    width: 80%;
    height: 80px;
}
.logo {
    gap: var(--gap-6);
}
.logo>img {
    width: 20px;
}
.logo>h1 {
    font-size: 22px;
}
.top-buttons {
    gap: var(--gap-6);
}
.top-buttons>button {
    padding: 16px 40px;
    border: 1px solid var(--brand-blue);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 2px;
}
.img-top {
    display: none;
    width: 25px;
    height: 25px;
}
.btn-login {
    background-color: var(--fixed-white);
    color: var(--brand-blue);
}
.btn-login:hover, .btn-home:hover {
    background-color: var(--brand-blue);
    color: var(--fixed-white);
}
.btn-register {
    background-color: var(--brand-blue);
    color: var(--fixed-white);
}
.btn-home {
    background-color: var(--fixed-white);
    color: var(--brand-blue);
}
.modal-top {
    width: 100%;
    padding: 17px 20px;
    gap: var(--gap-5);
}
#logout {
    background-color: var(--fixed-white);
    color: var(--brand-blue);
}
#logout:hover{
    background-color: var(--brand-blue);
    color: var(--fixed-white);
}